.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.option {
  display: block;
  margin-bottom: 0.25em;
}

.check {
  padding-left: 1em;
}

.check__input {
}

.check__box {
  position: absolute;
  margin-top: 0.2em;
  margin-left: -1em;
  width: 0.6em;
  height: 0.6em;
  border-radius: .05em;
  background-color: white;
  box-shadow: 0 0 0 .1em #4A90E2;
}

// Checked

.check__input:checked + .check__box {
  background-color: #4A90E2;
  background-image: url(images/check.svg);
}

// Focused

.check__input:focus + .check__box {
  box-shadow:
          0 0 0 .1em #4A90E2,
          0 0 0 .2em #7ED321;
}

// Disabled

.check__input:disabled + .check__box {
  box-shadow: 0 0 0 .1em #9B9B9B;
}

// Disabled and Checked

.check__input:checked:disabled + .check__box {
  background-color: #9B9B9B;
}